@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;1,200&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #0b0c0c;
    color: white;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.container-nav{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: black;
    z-index: 100;
}

.container-log img{
    height: 80px;
}
.container-section{
    width: 78%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-section ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-section ul li{
    margin: 20px;
}
.container-section ul li a{
    color: #8e96a4;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.container-section ul li a:hover{
    color: white;
}
.container-inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(20, 20, 20); */
    background-image: url('https://static.vecteezy.com/system/resources/previews/024/571/060/large_2x/hooded-hacker-using-computer-in-dark-room-cybercrime-concept-an-anonymous-hooded-hacker-full-rear-view-coding-on-computer-ai-generated-free-photo.jpg');
    background-size: cover;
    background-position: center;
}
.container-inicio h1{
    font-size: 80px;
    font-family: Verdana;
}
.container-inicio h2{
    font-family: Verdana, sans-serif;
    font-size: 50px;
    background: linear-gradient(to right, rgb(16, 84, 173), rgb(51, 201, 247), rgb(13, 228, 174));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: bold;
    margin-top: 0px;
}

.icon_download{
    width: 20px;
    height: 20px;
    background-color: rgb(21, 206, 190);
    border-radius: 30px;
    padding: 6px;
    position: relative;
    left: -9px;
}

.shadow__btn{
    width: 150px;
    height: 36px;
    border-radius: 30px;
    color: whitesmoke;
    background-color: #171717;
    border: 1px solid rgb(0, 247, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px rgb(0, 255, 221);
}

/* Codigo css de acerca de mi */

.container-acerca{
    background-color: #0b0c0c;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-acerca-my{
    display: flex;
    height: 70vh;
    width: 70rem;
    border-radius: 5px;
}

.container-profile{
    background-color: #141516;
    width: 20rem;
    border-radius: 5px;
}

.profile-photo{
    width: 20rem;
    position: relative;
    top: 130px;
    border-radius: 5px;
}

.container-about-me{
    margin-top: -20px;
    padding-left: 30px;
}

.list-about-me{
    display: flex;
}

.list-about-me ul{
    padding: 0;
    list-style: none;
    display: flex;
}

.list-about-me ul li{
    margin-right: 30px;
    color: #8e96a4;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #8e96a4;
}
.list-about-me ul li:hover{
    color: white;
    border-bottom: 1px solid white;
}

/* Codigo css de tecnologias */
.container-card-tecnologias-find{
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    background-color: #141516;
    border-radius: 5px;
}
.container-card-tecnologias{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tecnologias-image{
    width: 35px;
}
.tecnologias-text{
    color: rgb(168, 162, 162);
}

/* Codigo css de proyectos */

.container-proyectos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proyectos-text{
    font-size: 40px;
}
.container-proyectos-find{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.container-proyectos-card{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 34, 34);
    border-radius: 5px;
}
.container-proyectos-card div{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-proyectos-card div button{
    background-color: rgb(22, 22, 22);
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.proyectos-image{
    width: 400px;
    border-radius: 5px;
}

/* Codigo css de educacíon */

.container-educacion{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.educacion-text{
    text-align: center;
    font-size: 40px;
}
.container-educacion-find{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.card-educacion{
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Contacto */
.container-contacto{
    background-color: #0b0c0c;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: relative;
}

.container-contact-me{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-contact-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-contact-1 a{
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-contact-2{
    display: flex;
    gap: 15px;
}

.contact-image{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 204, 255);
    border-radius: 20px;
    padding: 0.5px;
    display: flex;
}

.btn-download-cv{
    all: unset;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(0, 217, 255);
    box-shadow: 1px 1px 5px rgb(0, 255, 213);
    cursor: pointer;
    margin: 20px;
}


.container-contact-me h1{
    font-size: 50px;
}

.container-contacto form{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 40px;
}
.container-contacto form input{
    background-color: rgb(22, 22, 22);
    border: none;
    width: 400px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: rgb(214, 212, 212);
}
.container-contacto form textarea{
    background-color: rgb(22, 22, 22);
    color: rgb(214, 212, 212);
    border: none;
    width: 400px;
    height: 170px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
.enviar{
    all: unset;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(0, 217, 255);
    box-shadow: 1px 1px 5px rgb(0, 255, 213);
    cursor: pointer;
    margin: 20px;
}
.enviar:hover{
    background-color: rgb(27, 214, 214);
}

.copyright{
    position: absolute;
    bottom: 0;
    color: #9c9b9b;
}