@media (max-width: 412px){
    body{
        margin: 0px;
        padding: 0px;
        display: block;
    }
    .container-nav{
        width: 360px;
        height: 50px;
    }
    .container-log{
        height: 50px;
    }
    .container-section{
        position: absolute;
        top: 0px;
        padding: 0px;
        margin: 0px;
        width: 360px;
        height: 300px;
        display: none;
        background-color: rgb(31, 31, 31);
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .menu{
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        right: 0;
        margin: 10px;
    }
    .menu div{
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 20px;
    }
    .container-about-me{
        padding-top: 50px;
        width: 360px;
        height: 1030px;
        display: flex;
        flex-direction: column;
    }
    .container-about-me-element{
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-about-me-element h1{
        font-size: 35px;
        padding: 0px 10px 0px 10px;
        margin-bottom: -5px;
    }
    .container-about-me-element h2{
        font-size: 28px;
        padding: 0px 10px 0px 10px;
        margin-bottom: -5px;
    }
    .container-about-me-element p{
        font-size: 15px;
        padding: 0px 10px 0px 10px;
        margin-bottom: -5px;
    }
    .download-cv a{
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .container-tech{
        width: 340px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .container-tech-languajes-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .container-projects{
        width: 340px;
        padding: 10px;
    }
    .container-projects-cards{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 340px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copy{
        text-align: center;
        font-size: 12px;
    }
}